<div class="wrapper">

<div class="banner calculator-banner">
        <h2>Beräkna foderstat</h2>
</div>  

<div class="profile-wrapper profile-card profile-card-no-border">
    <section>
        <h2 class="profile-name">{{ name }}</h2>
        <p>Född: <span class="profile-born">{{born}}</span></p>
        <p>Kön:<span class="profile-gender">{{gender}}</span></p>
    </section>
    <section>
        <p class="h2">Status</p>
        <p>Hull: <span  class="profile-look">{{look}}</span></p>
        <p>Vikt: <span class="profile-weight">{{weight}}</span>kg</p>
        <p>Typ: <span class="profile-type">{{type}}</span></p>
    </section>
    <section>
        <p class="h2">Arbete</p>
        <p class="profile-walk">Skritt: 
            {{#if walk }}
                {{walk}}
            {{else}}
                0
            {{/if}}
         min
        </p>
        <p class="profile-trot-canter">Trav / Galopp:
            {{#if trotCanter }}
                {{trotCanter}}
            {{else}}
                0
            {{/if}}
         min
        </p>
    </section>
</div>
<div class="result-wrapper">
    <h2 class="profile-name"></h2>
    <section class="result-labels result">
        <ul>
            <li class="result-labels-mj">MJ</li>
            <li class="result-labels-smrp">G smb rp</li>
            <li class="result-labels-ca">Ca</li>
            <li class="result-labels-p">P</li>
            <li class="result-labels-mg">Mg</li>
            <li class="result-labels-selen">Selen</li>
        </ul>
    </section>
    <section class="result-need result">
        <h2>Behov</h2>
        <ul>
            <label>Mj</label>
            <li class="result-need-mj"></li>
            <label>G smb rp</label>
            <li class="result-need-smrp"></li>
            <label>Ca</label>
            <li class="result-need-ca"></li>
            <label>P</label>
            <li class="result-need-p"></li>
            <label>mg</label>
            <li class="result-need-mg"></li>
            <label>Selen</label>
            <li class="result-need-selen"></li>
        </ul>
    </section>
    <section class="result-work result">
        <h2>Tillägg för arbete:</h2>
        <ul>
            <label>Mj</label>
            <li class="result-work-mj"></li>
            <label>G smb rp</label>
            <li class="result-work-smrp"></li>
            <label>Ca</label>
            <li class="result-work-ca"></li>
            <label>P</label>
            <li class="result-work-p"></li>
            <label>mg</label>
            <li class="result-work-mg"></li>
            <label>Selen</label>
            <li class="result-work-selen"></li>
        </ul>
    </section>
    <section class="result-feed result">
        <h2>Fodrets innehåll:</h2>
        <ul>
            <label>Mj</label>
            <li class="result-feed-mj"></li>
            <label>G smb rp</label>
            <li class="result-feed-smrp"></li>
            <label>Ca</label>
            <li class="result-feed-ca"></li>
            <label>P</label>
            <li class="result-feed-p"></li>
            <label>mg</label>
            <li class="result-feed-mg"></li>
            <label>Selen</label>
            <li class="result-feed-selen"></li>
        </ul>
    </section>
    <section class="result-total result">
        <h2>Resultat:</h2>
        <ul>
            <label>Mj</label>
            <li class="result-total-mj"></li>
            <label>G smb rp</label>
            <li class="result-total-smrp"></li>
            <label>Ca</label>
            <li class="result-total-ca"></li>
            <label>P</label>
            <li class="result-total-p"></li>
            <label>mg</label>
            <li class="result-total-mg"></li>
            <label>Selen</label>
            <li class="result-total-selen"></li>
        </ul>
    </section>
</div>

<div class="feeding-calculator-wrapper">
    {{#if horse_ration}}
        <form class="form-feed" onsubmit="event.preventDefault(); get_profile();" action="/calculate/{{name}}?rid={{ration_id}}" method="POST">
    {{else}}
        <form class="form-feed" onsubmit="event.preventDefault(); get_profile();" action="/calculate/{{name}}" method="POST">
    {{/if}}
        <div class="feeding-calculator-flex-wrap">
            <div class="calculator-labels">
                <label>Antal kg</label>
                <label>TS <span>%</span></label>
                <label>MJ / kg</label>
                <label>gr smrp / kg</label>
                <label>Ca <span>(g)</span></label>
                <label>p <span>(g)</span></label>
                <label>mg <span>(g)</span></label>
                <label>selen <span>(mg)</span></label>
            </div>
                {{#if horse_ration}}
                    {{#each horse_ration as |ration i|}}
                        <div class="feed-row feed-row-{{@index}}">
                            <input name="amount" step="0.01" class="form-feed-input input-amount" type="number" placeholder="" value="{{ration.amount}}">
                            <input name="solids" step="0.01" class="form-feed-input input-solids" type="number" placeholder="" value="{{ration.ts}}">
                            <input name="mj" step="0.01" class="form-feed-input input-mj" type="number" placeholder="" value="{{ration.mj}}">
                            <input name="smrp" step="0.01" class="form-feed-input input-smrp" type="number" placeholder="" value="{{ration.smrp}}">
                            <input name="ca" step="0.01" class="form-feed-input input-ca" type="number" placeholder="" value="{{ration.ca}}">
                            <input name="p" step="0.01" class="form-feed-input input-p" type="number" placeholder="" value="{{ration.p}}">
                            <input name="mg" step="0.01" class="form-feed-input input-mg" type="number" placeholder="" value="{{ration.mg}}">
                            <input name="selenium" step="0.01" class="form-feed-input input-selen" type="number" placeholder="" value="{{ration.selenium}}">
                        </div>
                    {{/each}}
                {{else}}
            <div class="feed-row feed-row-1">
                    <input name="amount" step="0.01" class="form-feed-input input-amount" type="number" placeholder="">
                    <input name="solids" step="0.01" class="form-feed-input input-solids" type="number" placeholder="">
                    <input name="mj" step="0.01" class="form-feed-input input-mj" type="number" placeholder="">
                    <input name="smrp" step="0.01" class="form-feed-input input-smrp" type="number" placeholder="">
                    <input name="ca" step="0.01" class="form-feed-input input-ca" type="number" placeholder="">
                    <input name="p" step="0.01" class="form-feed-input input-p" type="number" placeholder="">
                    <input name="mg" step="0.01" class="form-feed-input input-mg" type="number" placeholder="">
                    <input name="selenium" step="0.01" class="form-feed-input input-selen" type="number" placeholder="">
            </div>
                {{/if}}
        </div>
        <div class="add-row"><span>Lägg till rad</span>+</div>
        <input class="form-feed-submit" type="submit" value="Beräkna">
    </form>
</div>
<button id="save-calculation">Spara Beräkning för {{name}}</button>

<script type="text/javascript" src="/scripts/main.js"></script>
{{#if horse_ration}}
    <script>get_profile()</script>
{{/if}}
</div>